<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/oxm
http://www.springframework.org/schema/oxm/spring-oxm-1.5.xsd http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/webservices-1.5.xsd">
	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
	<bean id="messageReceiver"
		class="org.springframework.ws.soap.server.SoapMessageDispatcher" />
	<bean id="schemaCollection"
		class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
		<property name="xsds">
			<list>
				<value>/applyregistrationservice/messages.xsd</value>
			</list>
		</property>
		<property name="inline" value="true" />
	</bean>
	<bean id="applyregistration" class="nl.han.dare2date.service.web.ApplyRegistrationServiceEndpoint">
		<constructor-arg ref="marshaller" />
		<constructor-arg ref="unmarshaller" />
	</bean>
	<bean
		class="org.springframework.ws.server.endpoint.adapter.MarshallingMethodEndpointAdapter">
		<constructor-arg ref="marshaller" />
	</bean>
	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="nl.han.dare2date.applyregistrationservice" />
	</bean>
	<bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="nl.han.dare2date.applyregistrationservice" />
	</bean>
	<bean id="annotationMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
		<property name="interceptors">
			<list>
				<bean
					class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
				<bean
					class="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor" />
				<bean
					class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
					<property name="xsdSchemaCollection" ref="schemaCollection" />
					<property name="validateRequest" value="true" />
					<property name="validateResponse" value="true" />
				</bean>
			</list>
		</property>
		<property name="order" value="1" />
	</bean>
	<bean id="applyregistrationservice"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schemaCollection" ref="schemaCollection" />
		<property name="portTypeName" value="Service" />
		<property name="locationUri" value="http://localhost:8080/applyregistrationservice" />
		<property name="targetNamespace"
			value="http://www.han.nl/schemas/applyregistrationservice/definitions" />
	</bean>
</beans>